<!DOCTYPE html>  
<html>  
    <head>  

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 

        <style type="text/css">  
            html { height: 100% }  
            body { height: 100%; margin: 0; padding: 0 }  
            #map-canvas { height: 100% }  
        </style>  

        <script type="text/javascript"  
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmtzZcXPlLtExjr4pTx6h2aK8-S1Z4oKo&sensor=false">  
        </script>  

        <script type="text/javascript">  
            var map;  
            function initialize() {  

                var mapOptions = {  
                    center: new google.maps.LatLng(52.690379, 6.186676),  
                    zoom: 8
                };  

                map = new google.maps.Map(document.getElementById("map-canvas"),  
                    mapOptions); 
                
            }  

            function addMarker(jsonArg, title, id) {
                var args = JSON.parse(jsonArg);
                for (var i = 0; i < args.Lat.length; i++) {
                    var latLng = new google.maps.LatLng(args.Lat[i], args.Long[i]);
                    var marker = new google.maps.Marker({
                        position: latLng,
                        title: title,
                        map: map,
                        id: id
                    });
                }

                google.maps.event.addListener(marker, "click", function (e) {
                    //window.external.sayHello();
                    window.external.LoadCoursesInListBox(id);

                });
            }


        </script>  

    </head>  

<body> 

<div id="map-canvas"/>  

</body>

</html>